<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Botón de hamburguesa para dispositivos pequeños -->
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Marca de la barra de navegación -->
    <a class="navbar-brand" routerLink="../home">C-recolector</a>

    <!-- Contenedor para los elementos de la barra de navegación -->
    <div class="collapse navbar-collapse" [ngClass]="{'show': isMenuOpen}" id="navbarNav">
      <!-- Elementos de la barra de navegación -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item" [class.active]="isActive('/home')">
          <a class="nav-link" routerLink="../home">Resumen</a>
        </li>
        <li class="nav-item" [class.active]="isActive('/avisos')">
          <a class="nav-link" routerLink="../avisos">Avisos</a>
        </li>
        <li class="nav-item" [class.active]="isActive('/horarios')">
          <a class="nav-link" routerLink="../horarios">Horarios</a>
        </li>
        <li class="nav-item" [class.active]="isActive('/contenedores')">
          <a class="nav-link" routerLink="../contenedores">Contenedores</a>
        </li>
        <li class="nav-item" [class.active]="isActive('/rutas')">
          <a class="nav-link" routerLink="../rutas">Rutas</a>
        </li>
        <li class="nav-item" [class.active]="isActive('/recoleccionEspecial')">
          <a class="nav-link" routerLink="../recoleccionEspecial">Recoleccion Especial</a>
        </li>
      </ul>
    </div>

    <!-- Botón Cerrar Sección -->
    <button class="btn btn-danger navbar-btn">Cerrar Sección</button>
  </div>
</nav>